@model OrchardCore.Layers.ViewModels.WidgetWrapper
@using OrchardCore.Layers.Models

@{
    var layerMetadata = Model.Widget.As<LayerMetadata>();
}
@if (layerMetadata.RenderTitle)
{
    <h2>@Model.Widget.DisplayText</h2>
}
@await DisplayAsync(Model.Content)
