@inject DarkModeService DarkModeService;
@{
var darkMode = await DarkModeService.IsDarkModeAsync();
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()" data-theme="@DarkModeService.CurrentTheme">
    <head>
        <title>@RenderTitleSegments(Site.SiteName, "before")</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/favicon.ico" />
                    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
                        <!-- Bootstrap CSS -->
                        <link rel="stylesheet" href="https://use.typekit.net/esg4ays.css">
                            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                                <script src="https://kit.fontawesome.com/53632a1ab7.js" crossorigin="anonymous"></script>
                                <link rel="stylesheet" href="/css/site.css" >
                                    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-22679769-2"></script>
                                    <script>
                                        window.dataLayer = window.dataLayer || [];
                                        function gtag(){dataLayer.push(arguments);}
                                        gtag('js', new Date());
                                        gtag('config', 'UA-22679769-2');
                                    </script>
                                    <script data-ad-client="ca-pub-2786407320124405" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
                                    <resources type="Header" />
                                </head>
    <body>
        <div class="ta-content ta-content-login">
            @await RenderSectionAsync("Header", required: false)
            @await RenderSectionAsync("Messages", required: false)

            <div class="auth-wrapper">
                @await RenderBodyAsync()
            </div>
        </div>

        @await RenderSectionAsync("Footer", required: false)

        <resources type="Footer" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/js/site.js"></script>
    </body>
</html>
