<!doctype html>
<html lang="{{ Culture.Name }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">        <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://use.typekit.net/esg4ays.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/53632a1ab7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/site.css" >
        <!-- <link rel="stylesheet" href="/TheBlogTheme/css/conference.css"> -->
        <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22679769-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22679769-2');
</script>    
<script data-ad-client="ca-pub-2786407320124405" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>   
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
//load TrackerJS
!function(t,n,e,o,a){function d(t){var n=~~(Date.now()/3e5),o=document.createElement(e);o.async=!0,o.src=t+"?ts="+n;var a=document.getElementsByTagName(e)[0];a.parentNode.insertBefore(o,a)}t.MooTrackerObject=a,t[a]=t[a]||function(){return t[a].q?void t[a].q.push(arguments):void(t[a].q=[arguments])},window.attachEvent?window.attachEvent("onload",d.bind(this,o)):window.addEventListener("load",d.bind(this,o),!1)}(window,document,"script","//cdn.stat-track.com/statics/moosend-tracking.min.js","mootrack");
//tracker has to be initialized otherwise it will generate warnings and wont sendtracking events
mootrack('init', '5a612c4d8865449a9070c7c70c00c5f5');
  mootrack('trackPageView');
</script>  
    </head>
    <body>
        <!-- Content -->
        <div id="main">
          <div id="MobileMenu">
            {% render_section "MobileMenu", required: false %}
            </div><div id="Header">
            {% render_section "Header", required: false %}
          </div><div id="Messages">
            {% render_section "Messages", required: false %}
          </div>
          <div class=" pt-4">
            <div class="container">  
              <div class="row">
                <div class="col-lg-8 col-md-9" id="ContentWrapper">
                  <div class="pr-4 pl-5">
                    <div id="Content">
                  {% render_section "Content" %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-3 border-left border-dark" id="Sidebar">         
                  {% render_section "Sidebar", required: false %}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="pr-4 pl-5" id="ContentEnd">
                  {% render_section "ContentEnd", required: false %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-9" > 
                  <div class="pr-4 pl-5" id="AfterContent"> 
                  {% render_section "AfterContent", required: false %}
                  </div>
                </div>
                <div class="col-lg-4 col-md-3 border-left border-dark mt-4" id="AfterSidebar">
                  {% render_section "AfterSidebar", required: false %}
                </div>         
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="pr-4 pl-5" id="After">
                  {% render_section "After", required: false %}
                  </div>
                </div>
              </div>             
            </div>
          </div>
      </div>
      <div id="Footer">
      {% render_section "Footer", required: false %}
      </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="/js/site.js"></script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-611a1d92ff956b9e"></script>
    </body>
</html>